<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" href="assets/favicon.png">
    <style>
        .messagesConMessagesCon p {
            all: unset;
            /* margin: "1vw 0 1vw 0"; */
        }

        .messagesConMessagesCon h3 {
            /* all: unset; */
            margin: "1vw 0 1vw 0";
        }

        .messagesConMessagesCon ol {
            margin: 0;
        }
    </style>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/9.1.6/marked.min.js"></script>
    
    <script src="../scripts/requests/_routes.js"></script>
    <script src="../scripts/requests/_request_.js"></script>
    <script src="../scripts/requests/others.js"></script>
    <script src="../scripts/requests/srcf.js"></script>
    <script src="../scripts/requests/client.js"></script>
    <script src="../scripts/requests/message.js"></script>
    <script src="../scripts/requests/agents.js"></script>
    <script src="../scripts/requests/stream_events.js"></script>
    <script src="../scripts/requests/ascii.js"></script>

    <script src="../scripts/userVars.js"></script>
    <script src="../scripts/requests/session.js"></script>
    <script src="../scripts/utils.js"></script>
    <script src="../scripts/UI/device.js"></script>
    <script src="../scripts/UI/elements/flags.js"></script>
    <script src="../scripts/UI/elements/elements.js"></script>
    <script src="../scripts/UI/elements/buildOnLoads.js"></script>
    <script src="../scripts/UI/functionalities/functionalites.js"></script>
    <script src="../scripts/UI/elements/setOnLoads.js"></script>

    <script src="../scripts/settings/data.js"></script>
    <script src="../scripts/settings/build.js"></script>
    <script src="../scripts/settings/functionalities.js"></script>

    <script src="../scripts/sessions/functionalities.js"></script>
    <script src="../scripts/sessions/data.js"></script>
    <script src="../scripts/sessions/build.js"></script>

    <script src="../scripts/middleAndRight/build.js"></script>
    <script src="../scripts/middleAndRight/data.js"></script>
    <script src="../scripts/middleAndRight/functionalties.js"></script>

    <script src="../scripts/message/build.js"></script>
    <script src="../scripts/message/functionalities.js"></script>
    <script src="../scripts/message/data.js"></script>

    <script src="../scripts/service/functionalities.js"></script>
    <script src="../scripts/service/data.js"></script>


    <script src="../scripts/UI/hover/functionalities.js"></script>
    <script src="../scripts/UI/functionalities/eventListeners.js"></script>
</body>

</html>